# ignoring the NPM configuration file
.npmrc

# ignoring node packages
node_modules

# ignoring bash history
.bash_history

# rollup plugin typescript2 cache folder
.rpt2_cache

# yarn error log output
yarn-error.log